<header>

	<!-- <div id="titre_principal">
			<a id="logo" href="{{path('main')}}">Hello Gwada !</a>
			<h2>Carnets de voyage</h2>
		</div>
	
		<!-- <nav>
			<ul class="menu">
				<li>
					<a class="actif" href="{{path('main')}}">Accueil</a>
				</li>
				<li>
					<a href="{{path('blog')}}">Blog</a>
				</li>
				<li>
					<a href="{{path('contact')}}">Contact</a>
				</li>
				{% if app.user %}
					<li>
						<a href="{{path('app_logout')}}">déconnexion</a>
					</li>
				{% else %}
	
					<li>
						<a href="{{path('app_login')}}">Connexion</a>
					</li>
	
					<li>
						<a href="{{path('app_register')}}">Inscription</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div> -->


	<nav class="navbar navbar-expand-lg navbar-light bg-info">
		<div class="container-fluid">
			<a class="navbar-brand" style=" font-size: 2rem" href="{{path('main')}}">Hello Gwada !</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{path('main')}}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('blog')}}">Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('contact')}}">Contact</a>
					</li>

					{% if app.user %}

						<li class="nav-item">
							<a class="nav-link" href="{{path('app_logout')}}">déconnexion</a>
						</li>

					{% else %}

						<li class="nav-item">
							<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_register')}}">Inscription</a>
						</li>

					{% endif %}

					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('admin')}}">dmin</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>

	</nav>
</header>
